/* Copyright 2014 Sam Hewitt.
*
* This file is part of the Orchis GTK theme.
*
* The Orchis GTK theme is free software: you can redistribute it
* and/or modify it under the terms of the GNU General Public License as
* published by the Free Software Foundation, either version 3 of the
* License, or (at your option) any later version.
*
* The Orchis GTK theme is distributed in the hope that it will be
* useful, but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General
* Public License for more details.
*
* You should have received a copy of the GNU General Public License along
* with the Orchis GTK theme. If not, see http://www.gnu.org/licenses/.
*/


/**************
 * Spinbutton *
 **************/
.spinbutton.button,
.spinbutton .button {
    padding: 2px 4px;
    box-shadow: inset 1px 0 shade(@base, 0.9);
    background-color: transparent;
    background-image: none;
    border-image: none;
    color: @foreground;
}

.spinbutton.entry {
    background-color: @base;
}

.spinbutton.entry:selected {
    background-color: @base;
    box-shadow: inset 0 1px alpha(#000, 0.1);
    color: @foreground;
}

.spinbutton.entry:focus {
    background-color: @base;
    box-shadow: inset 0 1px alpha(#000, 0.1);
    color: @foreground;
}

.spinbutton .button:first-child {
    box-shadow: none;
}

.spinbutton .button:last-child {
    box-shadow: none;
}

/*Button Hover*/
.spinbutton .button:hover,
.spinbutton .button:hover:focus {
    color: white;
    border-radius: 3px;
    background-color: @selection;
    background-image: none;
    icon-shadow:none;
}

.spinbutton:active,
.spinbutton .button:active,
.spinbutton .button:active:focus,
.spinbutton .button:active:hover:focus {
    color: @foreground;
    background-image: none;
}

.spinbutton .button,
.spinbutton .button:focus {
    color: @foreground;
    background-image: none;
}

.spinbutton.entry:insensitive,
.spinbutton .button:insensitive,
.spinbutton .button:focus:insensitive {
    color: @insensitive_text;
    background-color: @insensitive_background;
    background-image: none;
}

.spinbutton.entry:backdrop,
.spinbutton .button:backdrop {
    color: @backdrop_text;
    background-color: transparent;
    background-image: none;
}

/* Separator */
.spinbutton .separator,
.spinbutton.separator {
    color: transparent;
}

.spinbutton .separator:insensitive,
.spinbutton.separator:insensitive {
    color: transparent;
}

/***********************
 * Spinbutton Vertical *
 ***********************/

.spinbutton.vertical .button {
    box-shadow: none;
}

.spinbutton.vertical .button {
    padding: 2px 4px;
}

.spinbutton.vertical.entry {
    background-color: transparent;
}

.spinbutton.vertical.entry:selected {
    background-color: transparent;
    box-shadow: inset 0 1px alpha(#000, 0.1);
    color: @foreground;
}

.spinbutton.vertical .button:hover,
.spinbutton.vertical .button:hover:focus {
    color: white;
    border-radius: 3px;
    background-color: @selection;
    background-image: none;
    icon-shadow:none;
}

.spinbutton.vertical:active,
.spinbutton.vertical .button:active,
.spinbutton.vertical .button:active:focus,
.spinbutton.vertical .button:active:hover:focus {
    color: @foreground;
    background-color: transparent;
}

.spinbutton.vertical .button
.spinbutton.vertical .button:focus {
    color: @foreground;
    background-image: none;
}

.spinbutton.vertical.entry:insensitive,
.spinbutton.vertical .button:insensitive
.spinbutton.vertical .button:focus:insensitive {
    color: @insensitive_text;
    background-color: transparent;
    background-image: none;
}

.spinbutton.vertical.entry:backdrop,
.spinbutton.vertical .button:backdrop {
    color: @backdrop_text;
    background-color: transparent;
    background-image: none;
}

.spinbutton.vertical .button:first-child {
}

.spinbutton.vertical .button:last-child {
}