[user]
    email = alexirsi@gmail.com
    name = a-irs
[push]
    default = simple
[alias]
    subup = submodule update --remote --merge
    up = !git pull --rebase --prune $@ && git submodule update --init --recursive
    p = !git add -A && git commit && git push origin master
    clone1 = clone --depth=1
    i = icdiff
    d = diff
    co = checkout
    cm = commit
    pu = push origin master
    l = log
    s = status -sbu
    a = add -p
[color]
    ui = 1
[core]
    pager = diff-so-fancy | less --tabs=4 -RFX
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = yellow
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[diff-so-fancy]
	markEmptyLines = false
