[submodule "zshine/plugins/zshmarks"]
	path = zshine/plugins/zshmarks
	url = https://github.com/jocelynmallon/zshmarks
[submodule "zshine/plugins/zsh-history-substring-search"]
	path = zshine/plugins/zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search
[submodule "zshine/plugins/fzf"]
	path = zshine/plugins/fzf
	url = https://github.com/junegunn/fzf
[submodule "zshine/plugins/fast-syntax-highlighting"]
	path = zshine/plugins/fast-syntax-highlighting
	url = https://github.com/zdharma/fast-syntax-highlighting
