[submodule "zshine/plugins/fzf"]
	path = zshine/plugins/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "zshine/plugins/zaw"]
	path = zshine/plugins/zaw
	url = https://github.com/zsh-users/zaw.git
[submodule "zshine/plugins/zsh-syntax-highlighting"]
	path = zshine/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "vim/bundle/ctrlp.vim"]
	path = vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim
[submodule "zshine/plugins/zshmarks"]
	path = zshine/plugins/zshmarks
	url = https://github.com/jocelynmallon/zshmarks
[submodule "nano/syntax"]
	path = nano/syntax
	url = https://github.com/scopatz/nanorc.git
