@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

@-moz-document url(chrome://browser/content/browser.xul) {

    /* HIGHLIGHT PENDING, UNREAD, CHANGED TABS */
    .tabbrowser-tab[pending] .tab-content > * { opacity: .5 !important; }
    .tabbrowser-tab[unread]  .tab-content > * { opacity: .5 !important; }
    .tabbrowser-tab[titlechanged] .tab-content {
        background-image: -moz-linear-gradient(transparent 70%, rgba(255, 255, 255, 0.5)), -moz-linear-gradient(rgba(200,0,0,0.05),rgba(255,0,0,0.15) 100%) !important;
        background-clip: border-box !important;
    }

    /* SEMI-TRANSPARENT BOOKMARKS */
    .bookmark-item {
        /* grayscale */
        filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
        opacity: 0.8;
        border-color: transparent !important; }
    .bookmark-item:hover:not(:active):not([open]) {
        filter: none;
        opacity: 1;
        box-shadow: none !important;
        background: transparent !important; }

    /* PRIVATE TAB ADDON */
    /* .tabbrowser-tab[privateTab-isPrivate], */
    /* .tabbrowser-tab[privateTab-isPrivate] .tab-content { */
    /*     background: #93AFCC !important; */
    /* } */
    /* .tabbrowser-tab[privateTab-isPrivate][selected], */
    /* .tabbrowser-tab[privateTab-isPrivate][selected] .tab-content { */
    /*     background: #BBD7F3 !important; */
    /* } */

    /* Remove the Close Button from the Tab Bar */
    .tab-close-button { display: none; }


    /* tree style tabls customizing */
    #main-window[tabsintitlebar="true"]:not([extradragspace="true"]) #TabsToolbar {
        opacity: 0;
        pointer-events: none;
    }
    #main-window:not([tabsintitlebar="true"]) #TabsToolbar {
        visibility: collapse !important;
    }

    #sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] #sidebar-header {
        display: none;
    }
}
