snippet for
{% for ${1:item} in ${2:list} %}
$3
{% endfor %}
endsnippet

snippet {
{{ $1 }}
endsnippet

snippet if
{% if ${1:expr} %}
$2
{% endif %}
endsnippet

snippet elif
{% elif %}
endsnippet

snippet else
{% else %}
endsnippet
