snippet for "for loop"
{% for ${1:item} in ${2:list} %}
$3
{% endfor %}
endsnippet

snippet { "variable"
{{ $1 }}
endsnippet

snippet if "if statement"
{% if ${1:expr} %}
$2
{% endif %}
endsnippet

snippet "eif|elif|elseif" "else if" r
{% elif %}
endsnippet

snippet else "else"
{% else %}
endsnippet

