snippet for "for loop"
{% for ${1:item} in ${2:list} %}
$3
{% endfor %}
endsnippet

snippet "{|v" "variable" r
{{ $1 }}
endsnippet

snippet if "if statement"
{% if ${1:expr} %}
$2
{% else %}
$3
{% endif %}
endsnippet

snippet "eif|elif|elseif" "else if" r
{% elif ${1:expr} %}
endsnippet

snippet else "else"
{% else %}
endsnippet

