snippet task "Task" b
- name: ${1:taskname}
  ${2:module}:
    ${3:arg}: ${4:value}
endsnippet

snippet "tpl|templ|template" "Ansible Template" br
- name: ${1:taskname}
  template:
    backup: yes
    src: ${2:src}
    dest: ${3:dest}
endsnippet

snippet role "Role" b
    - role: ${1:rolename}
      tags: $1
endsnippet

snippet "play|playbook" "Playbook" br
- name: ${1:playbook name}
  hosts: all
  become: yes

  roles:

    - role: ${2:rolename}
      tags: $2
endsnippet
