body {
  color: hsl(0, 0%, 20%);

  margin: auto;
  padding: 1.15rem;
  background: hsl(0, 0%, 100%);

  line-height: 1.6em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  max-width: 72ch;
  font-size: 0.9em;

  /* wrap long words instead of writing outside container */
  overflow-wrap: break-word;
}

nav[role="doc-toc"] {
  border-bottom: 1px solid #ebebeb;
}

a {
  color: hsl(210, 53%, 48%);
  text-decoration: none;
}

img {
  max-width: 100%;
}

h1, h2, h3, h4 {
  font-weight: 500;
}

h1 {
  padding-top: 0.2em;
  font-size: 2.0em;
  line-height: 1.5em;
  border-bottom: 1px solid #ebebeb;
}

h1.title {
  padding-top: 0;
  font-weight: bold;
  font-size: 2.5em;
}

h2 {
  font-size: 1.5em;
  line-height: 1.5em;
}

h3 {
  font-weight: bold;
  font-size: 1.15em;
  line-height: 1.15em;
}

h4 {
  font-weight: bold;
}


blockquote {
  background-color: hsla(210, 53%, 48%, 10%);
  color: hsl(0, 0%, 25%);
  margin-left: 0;
  margin-right: 0;
  padding-left: 1.5em;
  padding-top: 1px;
  padding-bottom: 1px;
  border-left: 0.5em hsla(210, 53%, 48%, 15%) solid;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #ddd;
  margin: 2em 0;
  padding: 0;
}

:not(pre) > code {
    background-color: hsl(0,0%,96%);
    border-radius: 3px;
    border: 1px solid hsl(210, 14%, 92%);
    padding: 0 2px 0 2px;
}

pre {
    background-color: hsl(0,0%,96%);
    border-radius: 3px;
    border: 1px solid hsl(210, 14%, 92%);
    padding: 4px 8px 4px 8px;

    line-height: 1.55em;
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}

b, strong {
  font-weight: bold;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.4em;
}

sub {
  bottom: -0.3em;
}

ul, ol {
  padding: 0 0 0 1.5em;
}

li p:last-child {
  margin-bottom: 0;
}

ul ul, ol ol, ol ul, ul ol {
  margin: 0.3em 0;
}


img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

figure {
  display: block;
  text-align: center;
  margin: 1em 0;
}

figure img {
  border: none;
  margin: 0 auto;
}

figcaption {
  font-size: 0.8em;
  font-style: italic;
  margin: 0 0 .8em;
}

table {
  margin-bottom: 2em;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-spacing: 0;
  border-collapse: collapse;
}

table > caption {
  font-size: 0.95em;
  font-style: italic;
  margin: 0 0 0.75em;
}

table th {
  padding: .2em 1em;
  background-color: hsl(0,0%,96%);
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
}

table td {
  padding: .2em 1em;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  vertical-align: top;
}

dl dt {
    font-weight: bold;
}
