"*":
  "exception-reporting":
    userId: "d89cda2e-8f5b-b720-9730-4901ce063ea9"
  welcome:
    showOnStartup: false
  core:
    themes: [
      "one-dark-ui"
      "chester-atom-syntax"
    ]
    autoHideMenuBar: true
    disabledPackages: [
      "wrap-guide"
    ]
  editor:
    invisibles:
      {}
    fontFamily: "Input"
    tabLength: 4
    confirmCheckoutHeadRevision: false
    scrollPastEnd: true
    fontSize: 12
    lineHeight: 1.4
  "git-diff":
    {}
  "one-dark-ui":
    layoutMode: "Compact"
  "isotope-ui":
    fontWeight: "Regular"
    minimalMode: true
    fontFamily: "System Default"
    matchEditorFont: true
  minimap:
    plugins:
      "git-diff": true
      selection: true
      "highlight-selected": true
      "find-and-replace": true
      linter: true
  tabs:
    usePreviewTabs: true
    enableVcsColoring: true
  "autocomplete-plus":
    {}
  "autocomplete-python":
    addBracketAfterFunction: true
  "atom-terminal":
    app: "/usr/bin/termite"
  "merge-conflicts":
    gitPath: "/usr/bin/git"
  "markdown-preview":
    {}
  "status-bar":
    {}
  "tree-view-git-status":
    {}
  "git-plus":
    {}
  Zen:
    softWrap: true
  pigments:
    markerType: "square-dot"
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
  "trailing-spaces":
    enableForCursorLines: true
  "linter-shellcheck":
    {}
  linter:
    subtleLinterErrors: [
      "shellcheck"
    ]
  "linter-flake8":
    {}
