"*":
  "exception-reporting":
    userId: "d89cda2e-8f5b-b720-9730-4901ce063ea9"
  welcome:
    showOnStartup: false
  core:
    themes: [
      "one-dark-ui"
      "pen-paper-coffee-syntax"
    ]
    disabledPackages: [
      "wrap-guide"
      "keybinding-resolver"
      "spell-check"
    ]
    autoHideMenuBar: true
  editor:
    invisibles: {}
    tabLength: 4
    confirmCheckoutHeadRevision: false
    scrollPastEnd: true
    lineHeight: 1.4
    fontSize: 15
    softWrap: true
    fontFamily: "Monospace"
    showLineNumbers: false
  "git-diff": {}
  "one-dark-ui":
    layoutMode: "Compact"
  minimap:
    plugins:
      "git-diff": true
      selection: true
      "highlight-selected": true
      "find-and-replace": true
      linter: true
  tabs:
    showIcons: false
    enableVcsColoring: true
    usePreviewTabs: true
  "autocomplete-plus": {}
  "autocomplete-python":
    addBracketAfterFunction: true
  "atom-terminal":
    app: "/usr/bin/terminator"
  "merge-conflicts":
    gitPath: "/usr/bin/git"
  "markdown-preview": {}
  "status-bar": {}
  "tree-view-git-status": {}
  "git-plus": {}
  Zen:
    softWrap: true
    fullscreen: false
    tabs: "multiple"
  pigments:
    markerType: "square-dot"
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
  "trailing-spaces":
    enableForCursorLines: true
  "linter-shellcheck": {}
  linter:
    subtleLinterErrors: [
      "shellcheck"
    ]
  "linter-flake8": {}
  "spell-check": {}
  "css-comb": {}
  "linter-csslint": {}
  "atom-beautify":
    _analyticsUserId: "1d05e731-31ce-48da-bb24-aa8843cf1971"
