configuration {
	show-icons: true;
	font: "InputMonoCondensed 18";
	modi: "drun,run";
	width: -50;
	lines: 5;
	terminal: "alacritty";
	scroll-method: 0;
	cache-dir: ".local/share/rofi";
	display-drun: "run";
}
@theme "android_notification"
